.circle{
    height: 50px;
    width: 50px;
    background-color:pink;
    border-radius: 50%;
    margin-top: 20px;
}

.square{
    height: 50px;
    width: 50px;
    background-color:pink;
    margin-top: 20px;
  
}
.rectangle{
    height: 50px;
  width: 100px;
    background-color:pink;
    margin-top: 20px;
  
}
.smiu{
    margin-top: 30px;
  

}